# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf
*.fls

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex*

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg
